// sass --watch style.sass:style.css
// cores
$cor1: #4683DE
$cor2: #646464
$cor3: #B4B4B4
$cor4: #FAFAFA
$cor5: #1e8000
$cor6: #c20000
$cor7: #000000

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: Arial, Helvetica, sans-serif
body
    // margin-bottom: 300px

.card
    background-color: $cor4
    border-radius: 5px 5px 0px 0px
    max-width: 600px
    margin: 0 auto
    box-shadow: 0px 0px 1px 0px 
    
    &__header
        border-radius: 5px 5px 0px 0px
        background-color: $cor1
        color: $cor4
        padding: 5px 20px
        text-align: center
        font-size: 12px
    &__body
        padding: 20px
        display: flex
        flex-direction: column
        gap: 10px
        color: $cor2
        &-container
            display: grid
            grid-template-columns: repeat(3, 1fr)
            gap: 10px
        div
            // background-color: green
        input
            width: 100%
            padding: 5px
    &__footer
        display: flex
        justify-content: center
        padding-bottom: 20px

.container
    max-width: 1220px
    margin: 0 auto
    padding: 20px
.btns
    width: 100%
    display: flex
    justify-content: center
.btn
    background-color: #4683DE
    color: $cor4
    padding: 10px
    border: none
    border-radius: 3px
    cursor: pointer
    transition: all .3s
    display: flex
    gap: 10px
    &:hover
        background-color: #3c71c0
    &--add
        background-color: $cor5
        &:hover
            background-color: #176300
    &--cancel 
        background-color: $cor6
        &:hover
            background-color: #910000

.tbNotas
    width: 100%
    text-align: center
    font-size: 16px
    margin-top: 10px
    border-collapse: collapse
    border-bottom: 1px solid $cor1
    margin-bottom: 20px
    thead
        background-color: $cor1
        color: $cor4
    th, td
        padding: 10px 0px
    tbody
        color: $cor2
        tr
            &:nth-child(even)
                background-color: #eee
                border-top: 1px solid $cor3
                border-bottom: 1px solid $cor3

                